/symfony/code/app/config/parameters.yml
/symfony/code/build/
/symfony/code/phpunit.xml
/symfony/code/var/*
!/var/cache
/symfony/code/var/cache/*
!var/cache/.gitkeep
!/var/logs
/symfony/code/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/symfony/code/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/symfony/code/vendor/
/symfony/code/web/bundles/
